2-SoftwareDesign/2.4-DetailedDataSchema/RelationDB_DetailedDataSchema_XML.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Definition for Volohist -->
  <xs:element name="Volohist">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ID" type="xs:int"/>
        <xs:element name="Vidnosna_Volohist" type="xs:decimal" minOccurs="0"/>
        <xs:element name="Absolyutna_Volohist" type="xs:decimal" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Definition for Mikroklimat -->
  <xs:element name="Mikroklimat">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ID" type="xs:int"/>
        <xs:element name="Temperatura" type="xs:string"/>
        <xs:element name="Ventilyatsiya" type="xs:string" minOccurs="0"/>
        <xs:element name="Rivny_Osvitlenosti" type="xs:decimal"/>
        <xs:element name="Volohist_ID" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Definition for Korysuvach -->
  <xs:element name="Korysuvach">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ID" type="xs:int"/>
        <xs:element name="Imya" type="xs:string"/>
        <xs:element name="Prizvyshe" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Definition for ShablonPlanuStvorennya -->
  <xs:element name="ShablonPlanuStvorennya">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ID" type="xs:int"/>
        <xs:element name="Potichne_Stanovyshche" type="xs:int" minOccurs="0"/>
        <xs:element name="Proekt_Optimalnogo_Mikroklimatu" type="xs:string" minOccurs="0"/> <!-- JSON as string -->
        <xs:element name="Prysroy" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Definition for ParametryPlanuStvorennya -->
  <xs:element name="ParametryPlanuStvorennya">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ID" type="xs:int"/>
        <xs:element name="Temperaturnyi_Rezhym" type="xs:string"/>
        <xs:element name="Veluchyna_Volohosti" type="xs:int"/>
        <xs:element name="Chas_Vklyuchennya_Osvitlennya" type="xs:date"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Definition for PlanMikroklimatu -->
  <xs:element name="PlanMikroklimatu">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ID" type="xs:int"/>
        <xs:element name="ShablonPlanuStvorennya_ID" type="xs:int"/>
        <xs:element name="Potichne_Stanovyshche" type="xs:int" minOccurs="0"/>
        <xs:element name="Spysok_Parametriv" type="xs:string" minOccurs="0"/> <!-- Text as string -->
        <xs:element name="Mikroklimat_ID" type="xs:int"/>
        <xs:element name="ParametryPlanuStvorennya_ID" type="xs:int"/>
        <xs:element name="Korysuvach_ID" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
